<div class="container mt-4">
    <!-- <div class="author"> -->
    <img src="../../../assets/author.jpg" class="card-img-top rounded" alt="Author images">
    <!-- </div> -->
    <section class="mt-4">
        <article>
            <h2>¿Who I am?</h2>
            <p>
                Hello, my name is Light Yagami, obviously it's not my real name,
                it's just a pseudonym I took from my favorite Anime,
                I'm from the Dominican Republic and I'm learning frontend development in a self-taught way and for
                efficient learning I build projects.
                My goal in programming is to become an excellent software engineer, and I work very hard to achieve
                this.
                I am currently learning Angular, at first as usual I was intimidated as I had only worked with Html, Css
                and JavaScript.
                It is normal to feel afraid when leaving the comfort zone, so you already know.
            </p>
        </article>

        <article>
            <h3>¿What is this project?</h3>
            <p>
                The Rick and Morty API is a REST(ish) and GraphQL API based on the Rick and Morty TV show.
                You will have access to hundreds of characters, images, places and episodes.
                The Rick and Morty API is full of canonical information as seen on the TV show.

                <a href="https://rickandmortyapi.com/documentation">Check the documentation to get started</a>
            </p>
            <p>
                This project is built in Angular and consumes the Rick and Morty API.
                I had a lot of fun and learned a lot of things like some of the structural directives *ngFor, *ngIf,
                ngClass, property bindings, etc.
                This WebApp gathers information about the Rick and Morty series, such as characters, names, episodes,
                locations, and much more.
                It is important to learn to program while developing projects, it is essential to develop practical
                skills, apply theoretical knowledge,
                build a portfolio of work and improve your problem solving skills. Plus, it's a rewarding way to learn
                and encourages you to keep growing as a programmer.
            </p>
        </article>
    </section>

    <br>

    <section class="mt-4">
        <article>
            <h2>¿Quien soy?</h2>
            <p>
                Hola mi nombre es Light Yagami, obviamente no es mi nombre real,
                es solo un pseudónimo que tome de mi Anime favorito Death Note, soy de República Dominicana
                y estoy aprendiendo desarrollo frontend de forma autodidacta y para hacer que las piezas encajen
                construyo proyectos.
                Mi objeto en la programación es convertirme en un excelente ingeniero de software, y trabajo muy duro
                para conseguirlo.
                Actualmente, me encuentro aprendiendo Angular, al principio como de costumbre me sentía intimidado, ya
                que solo había trabajado con Html, Css y JavaScript.
                Es normal sentir miedo al salir de la zona de confort, así que ya lo sabes.
            </p>
        </article>
        <article>
            <h3>¿Que es este proyecto?</h3>
            <p>
                La API de Rick and Morty es una API REST(ish) y GraphQL basada en el programa de televisión Rick and
                Morty.
                Tendrás acceso a cientos de personajes, imágenes, lugares y episodios.
                La API de Rick and Morty está llena de información canónica como se ve en el programa de televisión.

                <a href="https://rickandmortyapi.com/documentation">Consulta la documentación para empezar</a>
            </p>
            <p>
                Este proyecto está construido en Angular y consume la API de Rick and Morty.
                Me divertí mucho y aprendí un montón de cosas como algunas de las directivas estructurales *ngFor,
                *ngIf, ngClass, enlaces de propiedades, etc.
                Esta WebApp reune información sobre la serie Rick and Morty, como personajes, nombres, episodios,
                ubicaciones y mucho más. Es importante aprender a programar desarrollando proyectos,
                es fundamental para desarrollar habilidades prácticas, aplicar el conocimiento teórico, construir un
                portafolio de trabajo y mejorar tus habilidades de resolución de problemas. Además,
                es una forma gratificante de aprender y te impulsa a seguir creciendo como programador.
            </p>
        </article>
    </section>
    <br>
</div>