@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&family=Satisfy&display=swap');

.container-fluid {
  gap: 10px;
  justify-content: center;
}

.card {
  background-color: #6c757d;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 30%;
}

.list-group-item {
  background-color: #6c757d;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  border-color: #222;
}

.list-group {
  border-color: #222;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.characterLimit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.card-link {
  text-align: center;
  text-decoration: none;
  color: #fff;
}
 
.card-link:hover {
  color: #222;
}

.bi-plus-circle {
 font-size: 15px; 
}

.paragr {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
