<div class="container-fluid">
    <footer class="text-center  footer-container">
        <div class="container">
            <section class="mt-5">
                <div class="row text-center d-flex justify-content-center pt-5">
                    <div class="col-md-2 menu-footer">
                        <h6 class="text-uppercase">
                            <a href="#">Home</a>
                        </h6>
                    </div>

                    <div class="col-md-2 menu-footer">
                        <h6 class="text-uppercase">
                            <a routerLink="characters">Characters</a>
                        </h6>
                    </div>

                    <div class="col-md-2 menu-footer">
                        <h6 class="text-uppercase">
                            <a routerLink="episode">Episodes</a>
                        </h6>
                    </div>

                    <div class="col-md-2 menu-footer">
                        <h6 class="text-uppercase">
                            <a href="https://rickandmortyapi.com/" target="_blank" rel="noopener noreferrer">API</a>
                        </h6>
                    </div>

                    <div class="col-md-2 menu-footer">
                        <h6 class="text-uppercase">
                            <a routerLink="about">About us</a>
                        </h6>
                    </div>
                </div>
            </section>
            <hr class="my-5" />
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            Hello, my name is Light Yagami, obviously it's not my real name,
                            it's just a pseudonym I took from my favorite Anime,
                            I'm from the Dominican Republic and I'm learning frontend development
                            in a self-taught way and for efficient learning I build projects.
                        </p>
                    </div>
                </div>
            </section>
            <section class="text-center mb-5">
                <a href="https://www.instagram.com/systemf4iled/" class="text-white me-4 hovered" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://twitter.com/lighty4gami1" class="text-white me-4 hovered" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="http://tiktok.com/@systemf4iled" class="text-white me-4 hovered" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-tiktok"></i>
                </a>
                <a href="https://t.me/desarrollofront3nd" class="text-white me-4 hovered" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-telegram"></i>
                </a>
                <a href="https://github.com/light-y4gami" class="text-white me-4 hovered" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                </a>
            </section>
        </div>

        <div class="text-center p-3 copyright">© 2023 Copyright:
            <a href="https://github.com/light-y4gami">Light Yagami</a>
        </div>
    </footer>
</div>